
@media (max-width: 601px) {
    body{
        font-size: 12px;
    }

    .main{
        margin: 5vw 0vw;
        width: 100vw;
    }

  .content {
    margin-top: 2vw;
    margin-bottom: 2vw;
    width: 90vw;
  }

  .sect,
  .sect-t,
  .sect-b {
    margin: 2vw; 
    padding: 5vw;
}



.yellow-box {
    width: unset;
    margin: 2vw; 
}

.violet-box {
    width: unset;
    margin: 2vw; 
}

.pink-box {
    width: unset;
    margin: 2vw; 
  }
}


@media (max-width: 1281px) {

    .main{
        margin: 5vw 0vw;
        width: 100vw;
    }

  .content {
    margin-top: 2vw;
    margin-bottom: 2vw;
    width: 90vw;
  }

  .sect,
  .sect-t,
  .sect-b {
    margin: 2vw; 
    padding: 5vw;
  }
  
  .split-box{
    display: flex;
    width: 100%;
  }
  .yellow-box {
    width: 50%;
    margin-top: 2vw; 
    margin-left: 2vw; 
    padding: 5vw;
  }
  
  .violet-box {
    width: 50%;
    margin-top: 2vw; 
    margin-right: 2vw; 
    padding: 5vw;
  }
  
  .pink-box {
    width: unset;
    margin-bottom: 2vw; 
    margin-left: 2vw; 
    margin-right: 2vw; 
    padding: 5vw;
  }
}