
@media (max-width: 801px) {

    *{
        font-size: 15px;
    }

    h1{
      font-size: 26px;
    }
    
    h2{
      font-size: 22px;
    }

    h3{
      font-size: 18px;
    }
    
    .main{
        margin: 5vw 0vw;
        width: 100vw;
    }

  .content {
    margin-top: 2vw;
    margin-bottom: 2vw;
    width: 90vw;
  }

  .sect,
  .sect-t,
  .sect-b {
    margin: 2vw; 
    padding: 5vw;
}

.sect-t h1{
  font-size: 32px;
}

.split-box {
    display: flex;
    flex-direction: column;
}

.yellow-box {
    width: unset;
    margin: 2vw; 
}

.violet-box {
    width: unset;
    margin: 2vw; 
}

.pink-box {
    width: unset;
    margin: 2vw; 
  }
}